<h1>Ngx-Icons</h1>
<div>
  <ngx-icon name="address_book" class="icon-color"></ngx-icon>
  <ngx-icon name="arrow_down" class="icon-color"></ngx-icon>
  <ngx-icon name="arrow_left" class="icon-color"></ngx-icon>
  <ngx-icon name="arrow_right" class="icon-color"></ngx-icon>
  <ngx-icon name="arrow_up_right_from_square" class="icon-color"></ngx-icon>
  <ngx-icon name="arrow_up" class="icon-color"></ngx-icon>
  <ngx-icon name="at" class="icon-color"></ngx-icon>
  <ngx-icon name="bell" class="icon-color"></ngx-icon>
  <ngx-icon name="bolt" class="icon-color"></ngx-icon>
  <ngx-icon name="book" class="icon-color"></ngx-icon>
  <ngx-icon name="box_archive" class="icon-color"></ngx-icon>
  <ngx-icon name="calendar_days" class="icon-color"></ngx-icon>
  <ngx-icon name="chart_line" class="icon-color"></ngx-icon>
  <ngx-icon name="chart_pie" class="icon-color"></ngx-icon>
  <ngx-icon name="chart_simple" class="icon-color"></ngx-icon>
  <ngx-icon name="check" class="icon-color"></ngx-icon>
  <ngx-icon name="chevron_down" class="icon-color"></ngx-icon>
  <ngx-icon name="chevron_left" class="icon-color"></ngx-icon>
  <ngx-icon name="chevron_right" class="icon-color"></ngx-icon>
  <ngx-icon name="chevron_up" class="icon-color"></ngx-icon>
  <ngx-icon name="circle_check" class="icon-color"></ngx-icon>
  <ngx-icon name="circle_dollar_to_slot" class="icon-color"></ngx-icon>
  <ngx-icon name="circle_exclamation" class="icon-color"></ngx-icon>
  <ngx-icon name="circle_info" class="icon-color"></ngx-icon>
  <ngx-icon name="circle_question" class="icon-color"></ngx-icon>
  <ngx-icon name="circle_user" class="icon-color"></ngx-icon>
  <ngx-icon name="circle_xmark" class="icon-color"></ngx-icon>
  <ngx-icon name="clipboard_list" class="icon-color"></ngx-icon>
  <ngx-icon name="clipboard" class="icon-color"></ngx-icon>
  <ngx-icon name="clock_rotate_left_solid" class="icon-color"></ngx-icon>
  <ngx-icon name="clock" class="icon-color"></ngx-icon>
  <ngx-icon name="comment" class="icon-color"></ngx-icon>
  <ngx-icon name="credit_card" class="icon-color"></ngx-icon>
  <ngx-icon name="crown" class="icon-color"></ngx-icon>
  <ngx-icon name="delete_left" class="icon-color"></ngx-icon>
  <ngx-icon name="diagram_project" class="icon-color"></ngx-icon>
  <ngx-icon name="dollar_sign" class="icon-color"></ngx-icon>
  <ngx-icon name="envelope" class="icon-color"></ngx-icon>
  <ngx-icon name="eraser" class="icon-color"></ngx-icon>
  <ngx-icon name="euro_sign" class="icon-color"></ngx-icon>
  <ngx-icon name="eye_slash" class="icon-color"></ngx-icon>
  <ngx-icon name="eye" class="icon-color"></ngx-icon>
  <ngx-icon name="facebook" class="icon-color"></ngx-icon>
  <ngx-icon name="file_import" class="icon-color"></ngx-icon>
  <ngx-icon name="filter" class="icon-color"></ngx-icon>
  <ngx-icon name="fingerprint" class="icon-color"></ngx-icon>
  <ngx-icon name="folder_plus" class="icon-color"></ngx-icon>
  <ngx-icon name="folder" class="icon-color"></ngx-icon>
  <ngx-icon name="gavel_solid" class="icon-color"></ngx-icon>
  <ngx-icon name="gear" class="icon-color"></ngx-icon>
  <ngx-icon name="gem" class="icon-color"></ngx-icon>
  <ngx-icon name="hand_holding_dollar" class="icon-color"></ngx-icon>
  <ngx-icon name="hand_holding_heart" class="icon-color"></ngx-icon>
  <ngx-icon name="hand" class="icon-color"></ngx-icon>
  <ngx-icon name="handshake_angle_solid" class="icon-color"></ngx-icon>
  <ngx-icon name="headphones" class="icon-color"></ngx-icon>
  <ngx-icon name="headset" class="icon-color"></ngx-icon>
  <ngx-icon name="instagram" class="icon-color"></ngx-icon>
  <ngx-icon name="landmark" class="icon-color"></ngx-icon>
  <ngx-icon name="link_slash" class="icon-color"></ngx-icon>
  <ngx-icon name="link" class="icon-color"></ngx-icon>
  <ngx-icon name="linkedin" class="icon-color"></ngx-icon>
  <ngx-icon name="list_check" class="icon-color"></ngx-icon>
  <ngx-icon name="list" class="icon-color"></ngx-icon>
  <ngx-icon name="lock_solid" class="icon-color"></ngx-icon>
  <ngx-icon name="magnifying_glass" class="icon-color"></ngx-icon>
  <ngx-icon name="message" class="icon-color"></ngx-icon>
  <ngx-icon name="minus" class="icon-color"></ngx-icon>
  <ngx-icon name="money_bill_transfer" class="icon-color"></ngx-icon>
  <ngx-icon name="money_bill" class="icon-color"></ngx-icon>
  <ngx-icon name="money_check" class="icon-color"></ngx-icon>
  <ngx-icon name="newspaper" class="icon-color"></ngx-icon>
  <ngx-icon name="paperclip" class="icon-color"></ngx-icon>
  <ngx-icon name="pen" class="icon-color"></ngx-icon>
  <ngx-icon name="percent" class="icon-color"></ngx-icon>
  <ngx-icon name="phone" class="icon-color"></ngx-icon>
  <ngx-icon name="piggy_bank" class="icon-color"></ngx-icon>
  <ngx-icon name="plus" class="icon-color"></ngx-icon>
  <ngx-icon name="question" class="icon-color"></ngx-icon>
  <ngx-icon name="repeat" class="icon-color"></ngx-icon>
  <ngx-icon name="rotate_left" class="icon-color"></ngx-icon>
  <ngx-icon name="sliders" class="icon-color"></ngx-icon>
  <ngx-icon name="sort_down" class="icon-color"></ngx-icon>
  <ngx-icon name="sort_up" class="icon-color"></ngx-icon>
  <ngx-icon name="sort" class="icon-color"></ngx-icon>
  <ngx-icon name="star" class="icon-color"></ngx-icon>
  <ngx-icon name="sterling_sign" class="icon-color"></ngx-icon>
  <ngx-icon name="thumbtack" class="icon-color"></ngx-icon>
  <ngx-icon name="timeline" class="icon-color"></ngx-icon>
  <ngx-icon name="trash" class="icon-color"></ngx-icon>
  <ngx-icon name="triangle_exclamation" class="icon-color"></ngx-icon>
  <ngx-icon name="unlock_solid" class="icon-color"></ngx-icon>
  <ngx-icon name="user_group_solid" class="icon-color"></ngx-icon>
  <ngx-icon name="user" class="icon-color"></ngx-icon>
  <ngx-icon name="video" class="icon-color"></ngx-icon>
  <ngx-icon name="x_twitter" class="icon-color"></ngx-icon>
  <ngx-icon name="xmark" class="icon-color"></ngx-icon>
  <ngx-icon name="youtube" class="icon-color"></ngx-icon>
</div>
