ngx-icon {
  margin: 5px;
}

.icon-color {
  fill: red;
}

.direction {
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 80px;
  transform: rotate(90deg);
}

.sri {
  fill: #00a7b5;
}
